### Importando base e tratando base de dados

In [1]:
import pandas as pd

# Importando bases de dados e tratando
cadastro_funcionarios_df = pd.read_csv('CadastroFuncionarios.csv', sep=';', decimal=',', encoding='utf-8')
cadastro_cliente_df = pd.read_csv('CadastroClientes.csv', sep=';', encoding='utf-8')
base_servicos_prestados_df = pd.read_csv('BaseServiçosPrestados.csv', sep=',', encoding='utf-8')

# Exibindo base para consulta e validação da tratativa
display(cadastro_funcionarios_df)
display(cadastro_cliente_df)
display(base_servicos_prestados_df)

,ID Funcionário,Estado Civil,Nome Completo,Salario Base,Impostos,Beneficios,VT,VR,Cargo,Area
0,1,C,Gabriel Mesquita,21910,10955.0,4382.0,242,719.04,Diretor,Operações
1,2,C,João Haddad,5404,2702.0,1080.8,154,574.56,Estagiário,Logística
2,3,C,Amanda Marques Ribeiro,16066,8033.0,3213.2,154,729.12,Estagiário,Administrativo
3,4,C,Guilherme Nunez,21305,10652.5,4261.0,220,524.16,Analista,Administrativo
4,5,C,Adelino Gomes,5098,2549.0,1019.6,176,725.76,Analista,Administrativo
...,...,...,...,...,...,...,...,...,...,...
109,143,C,Renan Scharnhorst Ott,10793,5396.5,2158.6,242,514.08,Analista,Logística
110,144,S,Lucas Brum Pereira,4048,2024.0,809.6,198,796.32,Estagiário,Comercial
111,148,S,Caio Stellet,24596,12298.0,4919.2,242,561.12,Analista,Administrativo
112,149,C,Fernanda Rocha,5078,2539.0,1015.6,308,665.28,Estagiário,Comercial
113,150,C,Eduardo Brum,15939,7969.5,3187.8,220,769.44,Analista,Comercial

     ID Cliente             Cliente  Valor Contrato Mensal
0             1  Teixeira Gonçalves                    540
1             2        Souza Santos                   1260
2             3        Emídio Alves                   3195
3             4        Santos Costa                   2520
4             5         Do Monteiro                   3510
..          ...                 ...                    ...
315         316        Manoel Costa                   3690
316         317       Gomes Machado                   2385
317         318    Alkindar Cardozo                   3510
318         319     Pereira Fazenda                   4185
319         320   Americo Damasceno                   2430

[320 rows x 3 columns]

,Unnamed: 0,Codigo do Servico,ID Funcionário,ID Cliente,Tempo Total de Contrato (Meses)
0,0,OS0001,67,1,14
1,1,OS0002,17,2,12
2,2,OS0003,116,4,14
3,3,OS0004,37,5,8
4,4,OS0005,130,6,8
...,...,...,...,...,...
232,232,OS0233,111,315,4
233,233,OS0234,124,316,8
234,234,OS0235,72,317,6
235,235,OS0236,90,319,14
236,236,OS0237,22,320,12

### 1. Valor total da Folha Salarial
#### Colhendo somente dados necessarios e realizando o calculo

In [3]:
valortotal_folhasalarial = cadastro_funcionarios_df[['Salario Base', 'Impostos', 'Beneficios']]
valortotal_folhasalarial = valortotal_folhasalarial['Salario Base'] + valortotal_folhasalarial['Impostos'] + valortotal_folhasalarial['Beneficios']
valortotal_folhasalarial = valortotal_folhasalarial.sum()
print(f'Valor total da folha salaria:\n\t R$ {valortotal_folhasalarial:,.2f}')

Valor total da folha salaria:
	 R$ 2,614,343.30

### 2. Qual foi o faturamento da empresa?
#### Filtrando e mesclando dados para realizar o calculo do faturamento

In [4]:
# Filtrando dados
cadastro_cliente = cadastro_cliente_df[['ID Cliente', 'Valor Contrato Mensal']]
base_servicos_prestados = base_servicos_prestados_df[['ID Cliente', 'Tempo Total de Contrato (Meses)']]
base_servicos_prestados = base_servicos_prestados.rename(columns={'Tempo Total de Contrato (Meses)': 'Meses de contrato'})
# Mesclando dados
base_servicos_prestados = base_servicos_prestados.merge(cadastro_cliente)
# Calculo do faturamento
multi_tcontrato_vcontrato = base_servicos_prestados['Meses de contrato'] * base_servicos_prestados['Valor Contrato Mensal']
multi_tcontrato_vcontrato = multi_tcontrato_vcontrato.sum()
print(f'Faturamento da empresa:\n\t R$ {multi_tcontrato_vcontrato:,.2f}')

Faturamento da empresa:
	 R$ 5,519,160.00

### 3. Qual o % de funcionários que já fechou algum contrato?

In [5]:
funcionarios_vendas_fechadas = base_servicos_prestados_df[['ID Funcionário']]
porcent_func_fechou_cont = ((len(funcionarios_vendas_fechadas['ID Funcionário'].unique()))) / len(cadastro_funcionarios_df['ID Funcionário'])
print(f'Porcentagem de funcionario que fechou contrato:\n\t{porcent_func_fechou_cont:.2%}')

Porcentagem de funcionario que fechou contrato:
	86.84%

### 4. Total funcionarios por área

In [6]:
funcionarios_area = cadastro_funcionarios_df['Area'].values # possivel usar values_counts() para obter uma tabela direta

print(f'Operações possui: {len(funcionarios_area[funcionarios_area == "Operações"])} funcionarios.')
print(f'Logística possui: {len(funcionarios_area[funcionarios_area == "Logística"])} funcionarios.')
print(f'Administrativo possui: {len(funcionarios_area[funcionarios_area == "Administrativo"])} funcionarios.')
print(f'Financeiro possui: {len(funcionarios_area[funcionarios_area == "Financeiro"])} funcionarios.')
print(f'Comercial possui: {len(funcionarios_area[funcionarios_area == "Comercial"])} funcionarios.')

Operações possui: 23 funcionarios.
Logística possui: 21 funcionarios.
Administrativo possui: 26 funcionarios.
Financeiro possui: 18 funcionarios.
Comercial possui: 26 funcionarios.

### 5. Total de contratos que cada área da empresa já fechou
#### Filtrando, mesclando e identificando contratos por area

In [7]:
# Filtrando dados
id_funcionario_venda = base_servicos_prestados_df[['ID Funcionário']]
id_funcionario_area = cadastro_funcionarios_df[['ID Funcionário', 'Area']]
# Mesclando e renomeando dataframe
id_area = id_funcionario_venda.merge(id_funcionario_area)
# Identificando contratos por area
contratos_area = id_area['Area'].values # possivel usar values_counts() para obter uma tabela direta

print(f'Operações fechou: {len(contratos_area[contratos_area == "Operações"])} contratos.')
print(f'Logistica fechou: {len(contratos_area[contratos_area == "Logística"])} contratos.')
print(f'Administrativo fechou: {len(contratos_area[contratos_area == "Administrativo"])} contratos.')
print(f'Financeiro fechou: {len(contratos_area[contratos_area == "Financeiro"])} contratos.')
print(f'Comercial fechou: {len(contratos_area[contratos_area == "Comercial"])} contratos.')

Operações fechou: 48 contratos.
Logistica fechou: 40 contratos.
Administrativo fechou: 63 contratos.
Financeiro fechou: 42 contratos.
Comercial fechou: 44 contratos.